<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Polycom Wechat Application</display-name>
	<!-- Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/spring/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Join WeChat Filter -->
	<filter>
		<filter-name>wechatJoinFilter</filter-name>
		<filter-class>com.polycom.hst.wechat.filter.HstWechatJoinFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>wechatJoinFilter</filter-name>
		<url-pattern>/wechatjoin/*</url-pattern>
	</filter-mapping>

	<!-- Join WeChat Servlet -->
	<servlet>
		<servlet-name>WechatJoin</servlet-name>
		<servlet-class>com.polycom.hst.wechat.servlet.HstWechatJoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WechatJoin</servlet-name>
		<url-pattern>/wechatjoin</url-pattern>
	</servlet-mapping>

	<!-- WeChat Authorization Filter(snsapi_login & QRCode) -->
	<filter>
		<filter-name>qrcodeAuthFilter</filter-name>
		<filter-class>com.polycom.hst.wechat.filter.HstWechatAuthzQRCodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>qrcodeAuthFilter</filter-name>
		<url-pattern>/wechatqrcodeauth/*</url-pattern>
	</filter-mapping>

	<!-- WeChat Authorization Filter(snsapi_base) -->
	<filter>
		<filter-name>baseAuthFilter</filter-name>
		<filter-class>com.polycom.hst.wechat.filter.HstWechatAuthzBaseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>baseAuthFilter</filter-name>
		<url-pattern>/wechatbaseauth/*</url-pattern>
	</filter-mapping>

	<!-- WeChat Authorization Filter(snsapi_login) -->
	<filter>
		<filter-name>loginAuthFilter</filter-name>
		<filter-class>com.polycom.hst.wechat.filter.HstWechatAuthzLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginAuthFilter</filter-name>
		<url-pattern>/wechatloginauth/*</url-pattern>
	</filter-mapping>

	<!-- WeChat Authorization Filter(snsapi_userinfo) -->
	<filter>
		<filter-name>userAuthFilter</filter-name>
		<filter-class>com.polycom.hst.wechat.filter.HstWechatAuthzUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userAuthFilter</filter-name>
		<url-pattern>/wechatuserauth/*</url-pattern>
	</filter-mapping>

	<!-- MS Authentication Filter -->
	<filter>
		<filter-name>msAuthFilter</filter-name>
		<filter-class>com.polycom.hst.wechat.filter.HstMsAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>msAuthFilter</filter-name>
		<url-pattern>/authms/*</url-pattern>
	</filter-mapping>

	<!-- Join WeChat Servlet -->
	<servlet>
		<servlet-name>WechatBind</servlet-name>
		<servlet-class>com.polycom.hst.wechat.servlet.HstWechatBindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WechatBind</servlet-name>
		<url-pattern>/wechatbind</url-pattern>
	</servlet-mapping>
	<!-- JAWR Setting Servlet -->
	<servlet>
		<servlet-name>JavascriptServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
		<!-- Location in classpath of the config file -->
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/jawr.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CSSServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>

		<!-- Location in classpath of the config file -->
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/jawr.properties</param-value>
		</init-param>
		<init-param>
			<param-name>type</param-name>
			<param-value>css</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavascriptServlet</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSSServlet</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
</web-app>
